.txt{
    background-color: white;
    font-size: 20px;
    height: 220px;
    width: 100%;
    padding: 50px;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    text-align: center;
    margin: 0;
    padding: 0;
}
.head{
    background-color:  #c1512a;
    height: 150px;
    width: 100%;
    padding: 20px;
}

.htxt{
    color: white;
    font-size: 42px;
    margin: 17px;
}
.container{
    display: flex;
    margin-left: 30%;
    margin-top: 40px;  
}
.paralax1{
    background-color: aqua;
    width: 100%;
    height: 500px;
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    padding-top: 300px;

}
.paralax2{
    background-color: aqua;
    width: 100%;
    height: 500px;
    background-image: url("2.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    padding-top: 300px;

}

.white_block{
    background-color: white;
    height: 150px;
    width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    margin: auto;
    
}
.bigor{
    color:#c1512a;
    font-style: bold;
    font-size: 30px;
    font-weight: 900;
}
.bigwh{
    color:white;
    font-style: bold;
    font-size: 30px;
    font-weight: 900;

}
.littleor{
    color:#c1512a;
    font-style: italic;
    font-size: 18px;
    text-align: right;

}
.orblock{
    background-color: #c1512a;
    width: 100%;
    height: 100px;
    padding-top: 25px;
    margin: auto;
}
.littleor2{
    color:#c1512a;
    font-style: italic;
    font-size: 18px;
   margin-left: 70%;

}

.paralax3{
    background-color: aqua;
    width: 100%;
    height: 500px;
    background-image: url("3.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    padding-top: 300px;

}
.bigwh2{ color:white;
    font-style: bold;
    font-size: 56px;
    font-weight: 900;

}

.foot{
    width: 120px;
    height: 120px;
    margin-left: 25px;
}
.container2{
    display: flex;
    margin-left: 35%;
    margin-top: 40px;}
    .container a:visited{
        color:blue;}

    a:link {
        text-decoration: none;
    }
    .container a:active {
        color:red;}
   
        a:hover {
            font-weight: bold;
        }